* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202022;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    gap: 3em;
}

h1 {
    font-size: 4em;
    margin-top: 100px;
}

div {
    background: #999999;
    display: flex;
    align-items: center;
    gap: 2em;
    border-radius: 1.2rem;
}

div span {
    font-size: 3em;
}

button {
    background: none;
    border-radius: 1.2rem;
    font-size: 3em;
    border: none;
    width: 4rem;
    height: 5rem;
    transition: 0.1s ease-in-out;
}

body > button {
    background: #999999;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    padding: .5em;
    color: #fff;
}

body > button:hover {
    background: #808080;
}

button:hover {
    background: #c5c5c5;
    cursor: pointer;
}

button:active {
    transform: scale(.95);
    background: none;
} 

footer {
    display: flex;
    gap: 30px;
}

footer a img {
    width: 3.5em;
    padding: 12px;
    border-radius: 16px;
    filter: grayscale(1);
    transition: 0.3s ease;
}

footer a img:hover {
    transform: scale(1.05);
    background: #38386373;
}