* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202022;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    gap: 3em;
}

h1 {
    font-size: 4em;
    margin-top: 100px;
}

div {
    background: #999999;
    display: flex;
    align-items: center;
    gap: 1.5em;
    border-radius: 1.2rem;
}

div span {
    font-size: 3em;
}

button {
    font-size: 3em;
    border: none;
    width: 4rem;
    height: 5rem;
    border-radius: 1.2rem;
    transition: 0.1s ease-in-out;
}

button:hover {
    background: #c5c5c5;
    cursor: pointer;
}

button:active {
    transform: scale(.95);
} 