div.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

div.counter button {
    border-radius: 1.2rem;
    transition: 0.2s ease-in-out;
}

div.counter > button {
    padding: .4em;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

div.counter button:hover {
    color: #202022;
    cursor: pointer;
    background: var(--bordas);
}

div.counter-plusAndminus {
    border: 6px solid var(--bordas);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 12em;
    height: 10em;
}

div.counter-plusAndminus span {
    font-size: 2rem;
} 

div.counter-plusAndminus .counter-buttons > button {
    border: 3px solid var(--bordas);
    font-size: 1rem;
    height: 3em;
    width: 3em;
    transition: 0.3s ease-in-out;
}

div.counter-plusAndminus > button:hover {
    background: var(--bordas);
}

div.counter-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}