.letter-counter {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em
}

textarea {
    resize: none;
    padding: 12px 14px;
    width: 70%;
    border: none;
    border-radius: 12px;
    max-width: 600px;
    max-height: 160px;
    color: var(--back);
    background: var(--bordas);
}

textarea::placeholder {
    color: var(--back);
}

textarea:focus {
    border: none;
    outline: 0;
}